.flex-child-element .exercise-link {
  color: rgb(0, 0, 0);
}

.flex-child-element .show-more-link {
  font-style: italic;
  color: rgb(0, 0, 0);
  font-size: var(--font-sm);
}

.show-more-link,
.exercise-link {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

.flex-parent-element {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
  padding-top: 20px;
}

.flex-child-element {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  border: 2px darkblue;
  background-color: rgba(255, 255, 255, 0.42);
  color: rgb(0, 0, 0);
}

.flex-child-element:first-child {
  margin-right: 40%;
  margin-left: 30%;
  padding: 30px;
}

.lessons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.lessons-content {
  flex: 1;
  padding: 10px;
}

.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.exercise-content {
  flex: 1;
  padding: 5px;
}

.top-box {
  margin-bottom: 140px;
  width: 100% !important;
  height: 150px !important;
}
