@import '../globals.css';

.auth-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.auth-box {
    width: 100%;
    max-width: 400px;
    padding: var(--u-3xl);
  }
  
.auth-title {
    text-align: center;
    margin-bottom: var(--u-xl);
  }

.form-group {
    margin-bottom: var(--u-lg);
  }

.form-label {
    display: block;
    margin-bottom: var(--u-md);
  }

.navigate-register p {
    margin-top: 20px;
  }

.form-input {
    width: 100%;
    padding: var(--u-md);
    border: 1px solid var(--fg2);
    border-radius: var(--radius-sm);
  }

.form-button {
    width: 100%;
    padding: var(--u-md);
    background-color: var(--primary2);
    color: var(--fg1);
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    margin-top: var(--u-lg);
  }

.form-button:hover {
    background-color: var(--primary1);
  }

.error-message {
    padding: var(--u-md);
    background-color: var(--tertiary5);
    font-size: var(--font-md);
    color: var(--fg1);
    border-radius: var(--radius-sm);
    margin-bottom: var(--u-lg);
    text-align: center
}

.success-message {
  padding: var(--u-md);
  background-color: var(--tertiary10);
  font-size: var(--font-md);
  color: var(--fg9);
  border-radius: var(--radius-sm);
  margin-bottom: var(--u-lg);
  text-align: center;
}

.error {
  text-align: center;
  margin-bottom: 1.5rem;
}
