@import "/globals.css";

.navbar {
  background: var(--bg2);
  padding: var(--u-md) var(--u-2xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--u-md); /* Space between logo and text */
}

.nav-right {
  display: flex;
  align-items: center;
  gap: var(--u-md); /* Space between logo and text */
}

.nav-links {
  display: flex;
  gap: var(--u-2xl);
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: var(--font-xs);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #09ffef;
}

.brand-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--u-md); /* Space between logo and text */
  text-decoration: none;
}

.logo-container {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  display: flex;
  align-items: center;
}

.brand-text {
  font-size: var(--font-xl);
  font-weight: bold;
  color: var(--fg1); /* Adjust text color */
}

.nav-brand h2 {
  color: #0978ff;
  margin: 0;
  font-size: var(--font-xl);
  font-weight: 700;
}

.nav-brand a {
  text-decoration: none;
}

.nav-auth {
  display: flex;
  gap: var(--u-lg);
}

.nav-auth button {
  padding: var(--u-md) var(--u-xl);
  border-radius: var(--radius-2xl);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-auth button a {
  text-decoration: none;
  color: inherit;
}
