.flex-child-element .exercise-link {
  color: var(--fg2);
}

.flex-child-element .show-more-link {
  font-style: italic;
  color: var(--fg2);
  font-size: var(--font-sm);
}

.show-more-link,
.exercise-link {
  background: none;
  border: none;
  color: var(--fg2);
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

.flex-parent-element {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
  padding-top: 20px;
  color: var(--blue1);
}

.flex-child-element {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  border: 2px var(--fg7);
  background-color: var(--bg8);
  color: var(--fg2);
}

.flex-child-element:first-child {
  margin-right: 40%;
  margin-left: 0%;
  padding: 30px;
}

.lessons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left !important;
  justify-content: left !important;
  width: 100%;
}

.lessons-content {
  flex: 1;
  padding: 10px;
  align-items: left;
}

.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}

.exercise-content {
  flex: 1;
  padding: 5px;
}

.top-box {
  margin-bottom: 140px;
  width: 100% !important;
  height: 150px !important;
}

.themes-title {
  font-size: var(--font-lg);
  font-weight: bold;
  color: var(--fg2);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue1);
}

.red {
  color: var(--red);
}

h2 {
  color: var(--fg2);
}