.wordbox {
    border: var(--radius-2xs) dashed;
    background-color: var(--fg8);
    padding: var(--u-md);
    margin-right: var(--u-md);
    margin-bottom: var(--u-xl);
    cursor: move;
    float: left;
}

.dustbin {
    height: 12rem;
    width: 12rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--fg3);
    font-size: var(--font-lg);
    padding: var(--u-lg);
    text-align: center;
    line-height: normal;
    float: left;
}
