@import "@/shared/styles/layout.module.css";

.logo {
  font-size: var(--font-2xl);
  font-weight: bold;
  margin: 0 12px;
  color: var(--primary3);
}

.sidebar {
  width: 300px;
  height: 100%;
  z-index: var(--z-10);
  flex-shrink: 0;
  padding: 36px 24px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg3);
  gap: var(--u-3xl);
}

.sidebarLink {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  font-size: var(--font-xl);
  font-weight: bold;
  padding: var(--u-sm) var(--u-md);
  color: var(--primary3);
  border-radius: var(--radius-md);
  &:hover {
    color: var(--primary4);
    background-color: var(--bg2);
  }
  &.active {
    color: var(--primary4);
    background-color: var(--bg2);
  }
}

.sublinkContainer {
  display: flex;
  flex-direction: column;
  gap: var(--u-md);
  margin-left: 12px;
  padding-left: 6px;
  border-left: 1px solid var(--primary1);
}

.sublink {
  text-decoration: none;
  font-size: var(--font-lg);
  font-weight: normal;
  padding: var(--u-sm) var(--u-md);
  border-radius: var(--radius-md);
  color: var(--primary3);
  &.active {
    color: var(--primary4);
    background-color: var(--bg2);
  }
  &:hover {
    color: var(--primary4);
    background-color: var(--bg2);
  }
}

.sidebarGroup {
  display: flex;
  flex-direction: column;
  gap: var(--u-md);
}

.navItem {
  width: 100%;
  padding: 12px 12px;
  border-radius: var(--radius-md);
  cursor: pointer;
  & .sidebarLink {
    text-decoration: none;
    color: var(--fg2);
    font-size: var(--font-lg);
  }
  &:hover {
    color: var(--fg1);
    background-color: var(--bg2);
  }
}
